<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS template</title>
</head>
<body>
    <h1>Esta es mi template de EJS</h1>

    <p>
        Datos recibidos:
    </p>

    <!-- Recorremos el arreglo; por cada persona que tenemos en nuestro arreglo  vamos a recorrerloa una a una y vamos a pintarla en pantalla -->
    <!--<ul>
        <%people.forEach( function( person ){ %>
      
            <li><%=people.name%></li>
       
        <% }) %> 
    </ul>--> 
    
</body>
</html>